.cstm-toast {
    position: absolute;
    bottom: 25px;
    right: 30px;
    border-radius: 12px;
    background: #fff;
    padding: 20px 35px 20px 25px;
    box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: none;
    /* transform: translateX(calc(100% + 30px)); */
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
    /* animation: slideInRight 0.3s ease-in-out forwards,
            fadeOut 0.5s ease-in-out forwards 3s; */
}

.cstm-toast.cstm-active {
    /* transform: translateX(0%); */
    display: block;
}

.cstm-toast .cstm-toast-content {
    display: flex;
    align-items: center;
}

.cstm-toast-content .cstm-check {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    min-width: 35px;
    background-color: #2770ff;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
}

.cstm-toast-content .cstm-message {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.cstm-message .cstm-text {
    font-size: 16px;
    font-weight: 400;
    color: #666666;
}

.cstm-message .cstm-text.cstm-text-1 {
    font-weight: 600;
    color: #333;
}

.cstm-toast .cstm-close {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    cursor: pointer;
    opacity: 0.7;
}

.cstm-toast .cstm-close:hover {
    opacity: 1;
}

.cstm-toast .cstm-progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;

}

.cstm-toast .cstm-progress:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #2770ff;
}

.cstm-progress.cstm-active:before {
    animation: cstm-progress 5s linear forwards;
}

@keyframes cstm-progress {
    100% {
        right: 100%;
    }
}