{% extends 'base.html' %}
{% block title %} Contact Details | {% endblock title %}
{% block page_header %}
<h2 class="m-0">{{contact}}</h2>
{% if contact.is_lead %}
<div>
  <a href="{% url 'contacts:lead-update' contact.id%}">Edit</a> |
  <a href="{% url 'contacts:lead-promote' contact.id %}">Promote</a> |
  <a href="{% url 'contacts:lead-soft-delete' contact.id%}">Delete</a> |
  <a href="{% url 'contacts:lead-list' %}">Go Back</a>
</div>
{% endif %}
{% if contact.is_prospect %}
<div>
  <a href="{% url 'contacts:prospect-update' contact.id%}">Edit</a> |
  <a href="{% url 'contacts:prospect-promote' contact.id %}">Promote</a> |
  <a href="{% url 'contacts:prospect-soft-delete' contact.id%}">Delete</a> |
  <a href="{% url 'contacts:prospect-list' %}">Go Back</a>
</div>
{% endif %}
{% if contact.is_customer %}
<div>
  <a href="{% url 'contacts:customer-update' contact.id%}">Edit</a> |
  <a href="{% url 'contacts:customer-soft-delete' contact.id%}">Delete</a> |
  <a href="{% url 'contacts:customer-list' %}">Go Back</a>
</div>
{% endif %}
{% endblock page_header %}
{% block content %}
<p><b>Age: </b>{{contact.age}}</p>
<p><b>Email: </b>{{contact.email}}</p>
<p><b>Phone: </b>{{contact.phone_number}}</p>
<p><b>Type: </b>{{contact.type}}</p>
{% if not contact.is_lead %}
<p><b>Score: </b>{{contact.score}}</p>
{% endif %}
<p><b>Address: </b>{{contact.address}}</p>
<p><b>Country: </b>{{contact.country.name}}</p>
<p><b>Deleted: </b>{{deleted}}</p>
{% endblock content%}